.gradient-custom {
background: #080808;
}

.item__checked {
	background: #f4f6f7;
	text-decoration: line-through;
  font-weight: 600;
}
.delete__icon {
	position: absolute;
	right: 0;
	font-size: 20px;
	color: #FE2B2B;
	cursor: pointer;
}
.nav-item {
  cursor: pointer;
}
.list-group-item {
  padding-left: 10px;
  margin-bottom: 20px;
}

.mgt10 {
  margin-top: 30px;
}
